* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.main-container {
  box-sizing: border-box;
}

.main-inner-container {
  width: 100%;
  background-color: #ebebeb;
}

.header-main {
  height: 100vh;
}

.header-inner {
  display: flex;
  height: 100%;
  background-size: auto 100%;
  background-image: url("./news__0006_99.jpg");
  background-repeat: no-repeat;
}

.header-left {
  width: 20%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./8f73e928-9125-4ea6-a4a2-50ca471c683a__06627.jpg");
}

.header-lInner {
  height: 100%;
  background: linear-gradient(180deg, white 35%, rgba(255, 255, 255, 0));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-lInner > .logo > img {
  height: 170px;
}

.pr-icon {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.wl-greet,
.p-name,
.p-role {
  color: #285021;
  font-family: "Rufina", serif;
}

.wl-greet {
  font-size: 20px;
  margin: 0.6rem 0;
  margin-top: 1.5rem;
}

.p-name {
  font-size: 30px;
  font-weight: 500;
  margin-top: 0.3rem;
}

.p-role {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1px;
}

.other-info {
  margin-top: 2rem;
}

.other-info ul {
  list-style-type: none;
}

.other-info i {
  font-size: 23px;
  margin-right: 2rem;
  color: #695444;
  line-height: normal;
}

.other-info li {
  line-height: 50px;
  color: #55565a;
}

.other-info li:not(:last-of-type) {
  border-bottom: 1px solid rgb(115, 115, 115);
}

.header-right {
  width: 80%;
  box-sizing: border-box;
}

.header-rInner {
}

nav {
  background-color: rgba(0, 0, 0, 0.175);
  padding: 2rem 1rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  padding: 0 1rem;
}

nav li > a {
  text-decoration: none;
  color: white;
}

nav li > a:hover {
  cursor: pointer;
}

nav > ul:last-of-type > li:first-of-type {
  font-size: 18px;
}

nav > ul:last-of-type i {
  font-size: 20px;
}

.header-rHeading {
  position: absolute;
  bottom: 0;
  width: 80%;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 5.5rem;
  color: white;
}

.header-rHeading h2 {
  font-size: 28px;
}

.header-rHeading h1 {
  font-size: 60px;
  filter: drop-shadow(0 2px 10px black);
}

/* new and announcements */
.N-A-main {
  width: 100%;
  box-sizing: border-box;
}

.N-A-inner {
  width: 100%;
  display: flex;
  padding: 2rem 2rem;
}

.N-A-left {
  width: 65%;
  padding-right: 1.5rem;
}

.N-A-right {
  width: 35%;
  padding-left: 1.5rem;
}

.news-container {
  background-color: white;
  border-radius: 8px;
}

.announcements-container {
  background-color: #2c5425;
  color: white;
  border-radius: 8px;
}

.block {
  padding: 1rem;
  height: 21rem;
}

.block-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}
.e-services-inner .block-header,
.news-container .block-header{
  border-bottom: 1px solid rgb(216, 216, 216);
}

.announcements-container .block-header {
  border-bottom: 1px solid white;
}

.announcements-container .block-header > :last-child {
  border: 1px solid white;
}

.news-container .block-header > :last-child,
.e-services-inner .block-header > :last-child
 {
  border: 1px solid rgb(181, 117, 7);
}

.block-heading {
  font-size: 20px;
}

.block-header > :last-child {
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 1.3rem;
}

.block-header > :last-child i {
  margin-left: 1rem;
}

.block-content {
  margin-top: 1rem;
  height: 79%;
}

.news-content-container {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 2rem;
}

.news-left {
  width: 45%;
  height: 100%;
  box-sizing: border-box;
}

.news-left img {
  height: 14rem;
  width: 100%;
}

.news-right {
  width: 55%;
  height: 14rem;
}

.news-right > div {
  overflow-y: auto;
  height: 100%;
  width: 100%;
}
.news-date {
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 2rem;
  color: #1c3817;
}
.news-date i {
  font-size: 19px;
  margin-right: 1rem;
}
.news-heading {
  color: #1c3817;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0 15px 0;
}

.ann-content-container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.ann-content-container ul {
  list-style-type: none;
}
.ann-content-container li:not(:first-of-type) {
  padding-top: 1rem;
}
.ann-content-container li {
  padding-bottom: 1rem;
}
.ann-content-container li:not(:last-of-type) {
  border-bottom: 1px solid white;
}
.ann-date {
  line-height: 32px;
}
.ann-date i {
  font-size: 19px;
  margin-right: 1rem;
}



/* E-services */
.e-services-main-container{
    width: 100%;
    background-color: white;
    height: 10rem;
    padding: 0 4rem;
}
.e-services-inner{

}



/* divs container */
.divs-main{
    padding: 1rem;
    margin-top: 1rem;
}
.divs-inner{
    display: grid;
    grid-template-columns: repeat(3, 31%);
    grid-template-rows: repeat(3, 22rem);
    gap: 2rem;
    justify-content: center;
}

.divs-inner .block-content {
    height: 82%;
}
.divs-inner div{
    border-radius: 8px;
}

.divs-inner>div:nth-of-type(1){
    background-color: #005385;
}
.divs-inner>div:nth-of-type(1),
.divs-inner>div:nth-of-type(2),
.divs-inner>div:nth-of-type(3),
.divs-inner>div:nth-of-type(5)
{
    color: white;
}

.divs-inner>div:nth-of-type(){
    background-color: #005385;
}

.divs-inner>div:nth-of-type(3){
    background-color: #b7997a;
}

.divs-inner>div:nth-of-type(4),
.divs-inner>div:nth-of-type(6),
.divs-inner>div:nth-of-type(7),
.divs-inner>div:nth-of-type(8),
.divs-inner>div:nth-of-type(9)
{
    background-color: #fff;
}

.divs-inner .block-header{
    border-bottom: 1px solid white;
    border-radius: unset;
}