* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.open-arrow {
  position: absolute;
  background-color: rgba(201, 201, 201, 0.678);
  top: 50%;
  left: 0;
  width: 1.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 10px 10px 0px;
  display: none;
}

.main-container {
  box-sizing: border-box;
}

.main-inner-container {
  width: 100%;
  background-color: #ebebeb;
}

.header-main {
  height: 100vh;
}

.header-inner {
  display: flex;
  height: 100%;
  background-size: auto 100%;
  background-image: url("./news__0006_99.jpg");
  background-repeat: no-repeat;
}

.header-left {
  width: 19%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./8f73e928-9125-4ea6-a4a2-50ca471c683a__06627.jpg");
}

.header-lInner {
  height: 100%;
  background: linear-gradient(180deg, white 35%, rgba(255, 255, 255, 0));
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-lInner>.logo>img {
  height: 140px;
}

.pr-icon {
  margin-top: 3rem;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
}

.wl-greet,
.p-name,
.p-role {
  color: #285021;
  font-family: "Rufina", serif;
}

.wl-greet {
  font-size: 20px;
  margin: 0.6rem 0;
  margin-top: 1.5rem;
}

.p-name {
  font-size: 30px;
  font-weight: 500;
  margin-top: 0.3rem;
}

.p-role {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1px;
}

.other-info {
  margin-top: 2rem;
}

.other-info ul {
  list-style-type: none;
}

.other-info i {
  font-size: 23px;
  margin-right: 2rem;
  color: #695444;
  line-height: normal;
}

.other-info li {
  line-height: 50px;
  color: #55565a;
}

.other-info li:not(:last-of-type) {
  border-bottom: 1px solid rgb(115, 115, 115);
}

.header-right {
  width: 81%;
  box-sizing: border-box;
}

.header-rInner {}

nav {
  background-color: rgba(0, 0, 0, 0.175);
  padding: 2rem 1rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav li {
  padding: 0 1rem;
}

nav li>a {
  text-decoration: none;
  color: white;
}

nav li>a:hover {
  cursor: pointer;
}

nav>ul:last-of-type>li:first-of-type {
  font-size: 18px;
}

nav>ul:last-of-type i {
  font-size: 20px;
}

nav>ul:last-of-type>li:last-of-type {
  padding: 0 20px;
  display: none;
}

.header-rHeading {
  position: absolute;
  bottom: 0;
  width: 80%;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 5.5rem;
  color: white;
}

.header-rHeading h2 {
  font-size: 28px;
}

.header-rHeading h1 {
  font-size: 60px;
  filter: drop-shadow(0 2px 10px black);
}

/* new and announcements */
.N-A-main {
  width: 100%;
  box-sizing: border-box;
}

.N-A-inner {
  width: 100%;
  display: flex;
  padding: 2rem 2rem;
}

.N-A-left {
  width: 65%;
  padding-right: 1.5rem;
}

.N-A-right {
  width: 35%;
  padding-left: 1.5rem;
}

.news-container {
  background-color: white;
  border-radius: 8px;
}

.announcements-container {
  background-color: #2c5425;
  color: white;
  border-radius: 8px;
}

.block {
  padding: 1rem;
  height: 21rem;
}

.block-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.e-services-inner .block-header,
.news-container .block-header {
  border-bottom: 1px solid rgb(216, 216, 216);
}

.announcements-container .block-header {
  border-bottom: 1px solid white;
}

.announcements-container .block-header> :last-child {
  border: 1px solid white;
}

.news-container .block-header> :last-child,
.e-services-inner .block-header> :last-child {
  border: 1px solid rgb(181, 117, 7);
}

.block-heading {
  font-size: 20px;
}

.block-header> :last-child {
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 1.3rem;
}

.block-header> :last-child i {
  margin-left: 1rem;
}

.block-content {
  margin-top: 1rem;
  height: 79%;
}

.news-content-container {
  height: 100%;
  width: 100%;
  display: flex;
  gap: 2rem;
}

.news-left {
  width: 45%;
  height: 100%;
  box-sizing: border-box;
}

.news-left img {
  height: 14rem;
  width: 100%;
}

.news-right {
  width: 55%;
  height: 14rem;
}

.news-right>div {
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.news-date {
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 2rem;
  color: #1c3817;
}

.news-date i {
  font-size: 19px;
  margin-right: 1rem;
}

.news-heading {
  color: #1c3817;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0 15px 0;
}

.ann-content-container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.ann-content-container ul {
  list-style-type: none;
}

.ann-content-container li:not(:first-of-type) {
  padding-top: 1rem;
}

.ann-content-container li {
  padding-bottom: 1rem;
}

.ann-content-container li:not(:last-of-type) {
  border-bottom: 1px solid white;
}

.ann-date {
  line-height: 32px;
}

.ann-date i {
  font-size: 19px;
  margin-right: 1rem;
}

/* E-services */
.e-services-main-container {
  width: 100%;
  background-color: white;
  padding: 0 4rem;
}

.e-services-inner {}

.slider-container {
  height: 13rem;
}

.services-slider>div {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.services-slider>div:hover {
  cursor: pointer;
}

.services-slider>div div:last-of-type {
  margin-top: 1.5rem;
}

.services-slider i {
  font-size: 70px;
  color: #c18448;
  display: block;
}

.slick-prev::before,
.slick-next::before {
  color: black !important;
  font-size: 36px !important;
}

.slick-next {
  right: -11px !important;
}

/* divs container */
.divs-main {
  margin-top: 1rem;
  padding: 1rem;
}

.divs-inner {
  display: grid;
  grid-template-columns: repeat(3, 31%);
  grid-template-rows: repeat(3, 24rem);
  gap: 2rem;
  justify-content: center;
}

.divs-inner .block-content {
  height: 82%;
}

.divs-inner>div {
  border-radius: 8px;
}

.divs-inner>div .block {
  height: 100%;
  border-radius: 8px;
}

.divs-inner>div:nth-of-type(1) {
  background-color: #005385;
}

.divs-inner>div:nth-of-type(1),
.divs-inner>div:nth-of-type(2),
.divs-inner>div:nth-of-type(3),
.divs-inner>div:nth-of-type(5) {
  color: white;
}

.divs-inner>div:nth-of-type(2) {
  background-size: cover;
}

.divs-inner>div:nth-of-type(2) .block,
.divs-inner>div:nth-of-type(5) .block {
  background: rgba(0, 0, 0, 0.25);
}

.divs-inner>div:nth-of-type() {
  background-color: #005385;
}

.divs-inner>div:nth-of-type(3) {
  background-color: #b7997a;
}

.divs-inner>div:nth-of-type(4),
.divs-inner>div:nth-of-type(6),
.divs-inner>div:nth-of-type(7),
.divs-inner>div:nth-of-type(8),
.divs-inner>div:nth-of-type(9) {
  background-color: #fff;
}

.divs-inner .block-header {
  border-bottom: 1px solid white;
  border-radius: unset;
}

.divs-inner>div:nth-of-type(1) .block-header> :last-child,
.divs-inner>div:nth-of-type(2) .block-header> :last-child,
.divs-inner>div:nth-of-type(3) .block-header> :last-child,
.divs-inner>div:nth-of-type(5) .block-header> :last-child {
  border: 1px solid white;
}

.divs-inner>div:nth-of-type(4) .block-header> :last-child,
.divs-inner>div:nth-of-type(7) .block-header> :last-child,
.divs-inner>div:nth-of-type(8) .block-header> :last-child {
  border: 1px solid rgb(181, 117, 7);
}

.vote-content {
  height: 100%;
  width: 100%;
}

.doc-container ul {
  list-style-type: none;
}

.divs-inner .block-content {
  overflow-y: auto;
}

.img-heading {
  position: relative;
  top: 79%;
  font-size: 16px;
  font-weight: 600;
}

.video-container video {
  height: 14rem;
  border-radius: unset;
  width: 100%;
}

.video-container .video-des {
  font-weight: 600;
  font-size: 16px;
  margin-top: 8px;
}

.n-emp-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.n-emp-profile>.emp-pic {
  margin-top: 2rem;
  height: 6rem;
  width: 6rem;
  background-size: cover;
  border-radius: 50%;
  background-position: center;
}

.n-emp-profile>.emp-name {
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 1px;
  margin-top: 10px;
}

.n-emp-profile>.emp-role {
  font-size: 14px;
  margin-top: 5px;
}

.n-emp-profile>.emp-mail {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 600;
}

.n-emp-profile>.emp-id {
  font-size: 14px;
  margin-top: 5px;
}

.t-prof {
  display: flex;
  align-items: center;
}

.t-prof>.t-left>div {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-size: cover;
  background-position: center;
}

.tweet-container .t-name {
  font-weight: 600;
}

.tweet-container .t-id {
  font-style: italic;
}

.tweet-container>.t-text {
  margin-top: 10px;
  line-height: 18px;
}

.doc-container {
  padding: 0 1rem;
}

.doc-container li {
  display: flex;
}

.doc-container li:first-of-type {
  padding-bottom: 11px;
}

.doc-container li:not(:first-of-type) {
  padding: 11px 0;
}

.doc-container li:not(:last-of-type) {
  border-bottom: 1px solid rgb(200, 200, 200);
}

.doc-container li>div {
  width: 90%;
  display: flex;
  align-items: center;
}

.doc-container li i {
  font-size: 20px;
}

.doc-container li>div>i {
  margin-right: 1rem;
  color: rgb(15, 73, 15);
}

.doc-container li> :last-child {
  color: rgb(176, 115, 1);
}

.search-container {
  height: 2.5rem;
  background-color: #2c5425;
  border-radius: 18px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emps {
  padding: 0 1rem;
}

.search-container input[type="text"] {
  padding: 15px 40px 15px 20px;
  width: 90%;
  color: #525252;
  font-weight: 100;
  letter-spacing: 2px;
  border: none;
  border-radius: 5px;
  background: transparent;
  outline: none;
  color: white;
}

.search-container input[type="text"]::placeholder {
  color: rgb(231, 231, 231);
}

.search-container i {
  color: white;
}

.emps-table {
  width: 100%;
  margin-top: 10px;
  padding: 1rem;
}

.emps-table td {
  width: 50%;
  line-height: 28px;
  font-size: 16px;
}

.emps-table tr:nth-of-type(even) {
  background-color: #f7faf9;
}

.bday-slider-container {
  height: 16rem;
  width: 100%;
}

.bday-slider {
  height: 100%;
  width: 100%;
}

.bday-slider .slick-dots li {
  margin: 0 0px;
}

.bday-slider .slick-dots li button:before {
  font-size: 10px;
  color: #bd9e7e;
}

.slick-dots li.slick-active button::before {
  opacity: 1 !important;
  color: #bd9e7e !important;
}

.bday-slider>div {
  height: 100%;
  width: 100%;
}

.bday-content-container {
  background-color: green;
  height: 100%;
}

.p-prof {
  display: flex;
  align-items: center;
}

.icon {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background-color: red;
  margin-right: 1rem;
}

.icon img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.pr-name {
  font-size: 20px;
  font-weight: bold;
}

.pr-role {
  font-size: 15px;
}

.b-date {
  margin-top: 10px;
  margin-left: 8px;
  color: #2c5425;
  font-size: 14px;
  font-weight: bold;
}

.b-date i {
  font-size: 20px;
  margin-right: 1rem;
}

.bday-text {
  margin-top: 1rem;
  line-height: 18px;
}

.blue-background {
  height: 12rem;
  background-color: #3d5a78;
  width: 100%;
  margin-top: -9rem;
}


/* right side nav */
.sidenav1 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav1 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav1 a:hover {
  color: #f1f1f1;
}

.sidenav1 .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav1 {
    padding-top: 15px;
  }

  .sidenav1 a {
    font-size: 18px;
  }
}


















@media (max-width:1324px) {
  nav {
    padding: 2rem 0.5rem;
  }
}

@media (max-width:1324px) {
  .header-left {
    width: 18%;
  }

  .header-right {
    width: 82%;
  }
}

@media (max-width:1292px) {
  nav li>a {
    font-size: 13px;
  }
}

@media (max-width:1228px) {
  .header-left {
    width: 17%;
  }

  .header-right {
    width: 83%;
  }

  .other-info i {
    font-size: 20px;
    margin-right: 1rem;
  }
}

@media (max-width:1212px) {
  nav li {
    padding: 0 10px;
  }

  .other-info li {
    font-size: 13px;
  }
}

@media (max-width:1117px) {
  nav li {
    padding: 0 8px;
  }
}

@media (max-width:1071px) {
  .header-left {
    display: none;
  }

  .header-right {
    width: 100%;
  }

  nav li {
    padding: 0 10px;
  }

  nav li>a {
    font-size: 14px;
  }

  .open-arrow {
    display: flex;
  }
}

@media (max-width: 856px) {
  .N-A-right {
    padding-left: 0;
  }
}

@media (max-width: 756px) {
  .N-A-left {
    width: 50%;
    padding-right: 0.5rem;
  }

  .N-A-right {
    width: 50%;
    padding-left: 0.5rem;
  }

  .divs-inner {
    grid-template-columns: repeat(2, 46%);
    grid-template-rows: repeat(2, 24rem);
  }

  .divs-inner div:last-child {
    grid-column: span 2;
  }
}

@media (max-width: 676px) {
  .services-slider i {
    font-size: 55px;
  }

  .N-A-inner {
    flex-direction: column;
  }

  .N-A-right,
  .N-A-left {
    width: 100%;
  }

  .N-A-right {
    margin-top: 1.3rem;
    padding-left: 0;
  }
}

@media (max-width: 600px) {
  .divs-inner {
    display: block;
  }

  .divs-inner>div {
    height: 22rem;
  }

  .divs-inner>div:not(:first-of-type) {
    margin-top: 1.3rem;
  }

  .blue-background {
    display: none;
  }

}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  background-image: url("./8f73e928-9125-4ea6-a4a2-50ca471c683a__06627.jpg");

}

.sidenav .header-lInner {
  margin-top: -60px;
}

.sidenav .closebtn {
  position: absolute;
  top: 1rem;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  z-index: 10;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

@media (max-width:979px) {
  nav li>a {
    font-size: 13px;
  }

  nav li {
    padding: 0 9px;
  }
}

@media (max-width:907px) {
  nav {
    flex-direction: row-reverse;
  }

  nav>ul:first-of-type {
    display: none;
  }

  nav>ul:last-of-type>li:last-of-type {
    display: block;
  }

  .header-rHeading h1 {
    font-size: 45px;
  }
  .header-rHeading {
    padding-bottom: 3.5rem;
}
}